# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\public-opinion-project\Sina_Spider\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
